Debug/
.settings/
.theia/
Project/Keil/Objects/
Project/Keil/*.map
Project/Keil/*.axf
Project/Keil/*.hex
Project/Keil/*.htm
Project/Keil/*.dep
keil/
!Project/
!Project/Keil/
!Project/Keil/*.uvprojx
!Project/Keil/*.uvoptx
!Project/Keil/*.uvguix.*
**/*.map
**/*.obj
**/*.o
**/*.out
