Debug/
build/
.settings/
.theia/
.project
.cproject
.ccsproject
.clangd
.vscode/
/NUEDC2025_MSPM0G3507_nortos_ticlang/
Project/Keil/Objects/
Project/Keil/*.map
Project/Keil/*.axf
Project/Keil/*.hex
Project/Keil/*.htm
Project/Keil/*.dep
Project/Keil/*.log
Project/Keil/*.uvoptx
Project/Keil/*.uvguix.*
project/keil/Objects/
project/keil/*.map
project/keil/*.axf
project/keil/*.hex
project/keil/*.htm
project/keil/*.dep
project/keil/*.log
project/keil/*.uvoptx
project/keil/*.uvguix.*
keil/
!Project/
!Project/Keil/
!Project/Keil/*.uvprojx
**/*.map
**/*.obj
**/*.o
**/*.out
